@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Washington Chameleon Companies</h1>
    <p>TODO WRITE OUT DESCRIPTION OF SITE</p>

</div>

<div class="h-100 row align-items-center">
    <iframe src="./MapDisplay" style="width:100em; height:50em; overflow: hidden;" frameborder="0" scrolling="no">
    </iframe>
</div>
